@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Tinos&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #dddddd;
  text-align: center;
}

#text {
  font-family: 'Lato';
  font-weight: 800;
  font-size: larger;
  word-spacing: 0.5vh;
  line-height: 1.2;
  font-size: 1.5rem;
  margin-top: 20px;
}

#author {
  font-family: 'Lato';
  font-size: 1.2rem;
  margin-top: 20px;
}
#tweet-quote,
#new-quote {
  text-decoration: none;
  margin-top: 20px;
}

#quote-box,h1 {
  max-width: 60%;
  margin: 0 auto;
}

.btn {
  padding: 8px 14px;
  background-color: #479898;
  border: none;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.button-4 {
  font-family: -apple-system, system-ui, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292e;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  padding: 7px 16px;
}

.button-4:hover {
  background-color: #f3f4f6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-3 {
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  font-size: 14px;
  font-weight: 600;
  padding: 6px 16px;
  transition-duration: 0.1s;
  text-align: center;
}

.button-3:hover {
  background-color: #2c974b;
}

h1 {
  font-family: -apple-system, system-ui, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  padding: 10px 20px;
  background-color: #fafbfc;
  color: #2ea44f;
  border-radius: 6px;
  margin-top: 20px;
  margin-bottom: 30px;
}

button,
a {
  max-width: 8rem;
}

@media (max-width: 768px) {
  #text {
    letter-spacing: 0;
    word-spacing: 0;
    font-size: 1.2rem;
    width: 100%;
  }
  #quote-box {
    max-width: 90vw;
    position: relative;
    top: 0;
    left: 0;
  }
  a {
    margin-left: 10px;
  }

  h1 {
    font-size: 1.1rem;
    max-width: 100%;
  }

  button,
  a {
    max-width: 7rem;
    font-size: 12px !important;
    font-weight: bold !important;
  }
}


